# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.local_hikvision_faces/
public/hikvision_faces/
.env.hikvision_sync

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.hikvision_sync
__pycache__/
hikvision_raw/
src/data/hikvisionRawData.js
